/*---- Basics ---- */

body {
	background-color:rgb(247, 202, 191);
}

a, a:hover {
	text-decoration: none;
	color:inherit;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }


/* ---- Nav ---- */




nav {
	text-align:center;
	background-color:#e8aea0;
	width:90%;
	margin:2em auto 3em auto;
	border-radius:10px;

}

nav ul li {
	font-family: 'Amatic SC', cursive;
	color:#b48073;
	font-weight: 700;
	font-size:2em;
	list-style-type: none;
	display:inline-block;
	padding:1em;

}

.chelychee {
	font-family: 'Great Vibes', cursive;
	color:#825A51;
	font-size:1.5em;
	text-align:right;
}

.logo {
	margin:0 0 0 0.5em;
	padding:0;
	margin-right:3em;
/*	font-family: 'Oxygen', sans-serif;*/
	font-family: 'Catamaran', sans-serif;
	font-weight:800;
	font-size:12px;
	color:#006665;
}

.nav-button {
	padding:0.3em;
	color:#825A51;
	border:2px solid #825A51;
	border-radius:10px;
	word-spacing: 10px;
	display:none;
	width:50px;
	margin-bottom:0.5em;
	cursor:pointer;	

}


@media screen and (max-width:1060px) {
	nav ul li:first-child {
		display:block;
		padding-bottom:0;
		padding-top:1em;
	
	}

	nav ul li {
		padding-top:0;
	}

	.chelychee {
		margin-right:0;
		
	}

	.logo {
		display:block;
		padding-bottom:0.5em;
		margin-left:4em;
	}
}


@media screen and (max-width:650px) {
	nav  {
		width:98%;
		padding-bottom:1em;
	}


	.nav-button {
		display:block;
	}

	.nav-items {
		width:100%;
		display:none;
	}



}

/*---- Footer ----*/

footer {
	background-color:#e8aea0;
	height:300px;
	margin-bottom:0;
}



/*---- MAIN ----*/

.main-img-container {
	text-align:center;
	position:relative;
	width:90%;
	margin:0 auto;
}

.tan-people {
	width:100%;
	border-radius:10px;
	border:10px solid #c18e83;

}

.main-pic-cover {
	position: absolute;
    background-color: rgba(118, 165, 164, 0.59);
    width: 100%;
    height: 40%;
    top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	display:none;
	justify-content: center;
  	align-items: center;
  	flex-direction: column;
  	
}

/*.main-pic-cover:after {
  content: "";
  background: url(http://i.stack.imgur.com/JBoKL.png);
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
}
*/

.main-pic-cover p {
	color:#006665;
	font-family: 'Amatic SC', cursive;
	font-size:3em;
	
}

.main-pic-cover p a {
	text-decoration:underline;
}

.main-pic-cover p a:hover {
	text-decoration:none;
	opacity:0.5;
	transition:1s;
}

@media screen and (max-width:650px) {
	.main-img-container, .tan-people {
		width:100%;
	}

	.main-pic-cover {
		position: absolute;
		display:flex;
	    width: 100%;
	    height: 40%;
	    top: 50%;
	    left: 50%;
	    transform:translate(-50%, -50%);
	}
}

/*---- PIC OF CHELS ----*/
.bio-dots {
	text-align: center;
}

.dot {
	height:1.5em;
	width:1.5em;
	background-color: #986C62;
	border-radius:50%;
	margin:50px auto;

}

.chelsea-container {
	position:relative;
	width:40%;
	margin:0 auto;
}

.chelsea-text {
	padding:0.5em;
	background-color:#e49885;
	position:absolute;
	bottom:33%;
	width:100%;
	font-family: 'Pacifico', cursive;
	font-size: 2em;


}

.chelsea-text p {
	padding:0;
	margin:0;
}

.chelsea {
	width:100%;
	border-radius:10px 100px;
	background-color:white;
	padding:1em;
	}

.chelsea:hover {
	animation:chelseaBig 0.3s cubic-bezier(0.460, 0.125, 0.715, 1) forwards;
			  /*chelseaName 0.3s ease-in, forwards;*/

}
/*
.chelsea-text {
	animation:chelseaBig 0.3s cubic-bezier(0.460, 0.125, 0.715, 1) forwards;
}*/

@keyframes chelseaBig {
	to{transform:scale(1.1);}
}

/*@keyframes chelseaName {
	to{opacity:1;}
}
*/
.chelsea-container > p{
	margin-top:50px;
}

@media screen and (max-width:650px)  {
	.chelsea-container {
		width:90%;
	}
}

/*---- Portfolio Blurb ----*/

.portfolio-blurb {
	text-align: center;
	background-color:#e49885;
	padding-bottom:50px;
}

.port-collection {
	margin:0 auto;
	width:80%;
}

.portfolio-blurb h2 {
	font-family: 'Amatic SC', cursive;
	font-size:5em;
	margin:0;
	padding:50px 0;

}

.port-blurb-item {
	background-image:url("../photos/gloves-guy.png");
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	display:block;
	position:relative;
	float:left;
	width:25%;
	height:200px;
	overflow:hidden;


}

.thumb-overlay {
	position:absolute;
	opacity:0.3;
	width:100%;
	height:100%;
	top:0;
	right:0;
	bottom:0;
	left:0;
}


.thumb-overlay:hover {
	position:absolute;
	background-color:green;
	opacity:0.3;
	width:100%;
	height:100%;
	top:0;
	right:0;
	bottom:0;
	left:0;
	transition:1s;
}

.thumb-overlay strong {
	display:none;
	padding:20px;
	font-weight:300;
}



@media screen and (max-width:1040px) {
	.port-blurb-item {
		width:25%;
	}
}

/*font-family: 'Pacifico', cursive;
font-family: 'Oxygen', sans-serif;
font-family: 'Catamaran', sans-serif;
font-family: ' nnb      Vibes', cursive;
font-family: 'Amatic SC', cursive;
*/