
	<nav>
		<ul>
			<li><span class="chelychee">Chelychee</span><span class="logo"> Still a work in progress</span></li>
			
			<li class="nav-button">
				<i class="fa fa-bars" aria-hidden="true"></i>
			</li>
			
				<li class="nav-items showing">About</li>
				<li class="nav-items showing">Portfolio</li>
				<li class="nav-items showing">Sketches</li>
				<li class="nav-items showing">Contact</li>
			

		</ul>
	</nav>

<!-- 
<script type="text/javascript">
	$(document).ready(function(){

		$('.nav-button').click(function(){

			$('.nav-items').slideToggle();
		});

		$(window).resize(function(){

			if ($(window).width() > 650) {
				$('.nav-items')
					.removeAttr('style')
			}
			
		});
		
	});



</script> -->
<script type="text/javascript">
	$(document).ready(function(){
		alert("hello")
	})
	

</script>


<script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>