
	<nav>
		<ul>
			<li><span class="chelychee">Chelychee</span><span class="logo"> A Websie that's still a work in progress</span></li>
			
			<li class="nav-button">
				<i class="fa fa-bars" aria-hidden="true"></i>
			</li>
			
				<li class="nav-items showing">About</li>
				<li class="nav-items showing">Portfolio</li>
				<li class="nav-items showing">Sketches</li>
				<li class="nav-items showing">Contact</li>
			

		</ul>
	</nav>


<script type="text/javascript">
	$(document).ready(function(){
		$('.nav-button').click(function(){

			$('.nav-items').slideToggle();
		});

		$(window).resize(function(){

			if ($(window).width() > 650) {
				$('.nav-items')
					.removeAttr('style')
			}
			
		});
		
	});

</script>